{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-idiomatic-order",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {}
}
