/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .banner {
    padding: 2rem;
  }
}
