$flag-width: var(--react-international-phone-flag-width, 24px);
$flag-height: var(--react-international-phone-flag-height, 24px);

.react-international-phone-flag-emoji {
  width: $flag-width;
  height: $flag-height;
  box-sizing: border-box;
}
