$height: var(--react-international-phone-height, 36px);
$background-color: var(--react-international-phone-background-color, white);
$text-color: var(--react-international-phone-text-color, #222);
$font-size: var(--react-international-phone-font-size, 13px);
$border-radius: var(--react-international-phone-border-radius, 4px);
$border-color: var(--react-international-phone-border-color, gainsboro);

$disabled-background-color: var(
  --react-international-phone-disabled-background-color,
  whitesmoke
);
$disabled-text-color: var(
  --react-international-phone-disabled-text-color,
  #666
);
