@use '../../style/base';

$country-selector-arrow-size: var(
  --react-international-phone-country-selector-arrow-size,
  4px
);
$country-selector-arrow-color: var(
  --react-international-phone-country-selector-arrow-color,
  #777
);
$disabled-country-selector-arrow-color: var(
  --react-international-phone-disabled-country-selector-arrow-color,
  #999
);

$country-selector-border-color: var(
  --react-international-phone-country-selector-border-color,
  base.$border-color
);
$country-selector-background-color: var(
  --react-international-phone-country-selector-background-color,
  base.$background-color
);
$country-selector-background-color-hover: var(
  --react-international-phone-country-selector-background-color-hover,
  whitesmoke
);
$disabled-country-selector-background-color: var(
  --react-international-phone-disabled-country-selector-background-color,
  base.$disabled-background-color
);

.react-international-phone-country-selector {
  position: relative;
}

.react-international-phone-country-selector-button {
  display: flex;
  height: base.$height;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid $country-selector-border-color;
  margin: 0;
  background-color: $country-selector-background-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $country-selector-background-color-hover;
  }

  &--hide-dropdown {
    cursor: auto;

    &:hover {
      background-color: transparent;
    }
  }

  &__flag-emoji {
    margin: 0 4px;

    &--disabled {
      opacity: 0.75;
    }
  }

  &__dropdown-arrow {
    border-top: $country-selector-arrow-size solid $country-selector-arrow-color;
    border-right: $country-selector-arrow-size solid transparent;
    border-left: $country-selector-arrow-size solid transparent;
    margin-right: 4px;
    transition: all 100ms ease-out;

    &--active {
      transform: rotateX(180deg);
    }

    &--disabled {
      border-top-color: $disabled-country-selector-arrow-color;
    }
  }

  &--disabled {
    background-color: $disabled-country-selector-background-color;

    &:hover {
      background-color: $disabled-country-selector-background-color;
    }

    cursor: auto;
  }
}
