@import '../../style/base';

.react-international-phone-input-container {
  display: flex;

  .react-international-phone-country-selector-button {
    border-radius: $border-radius;
    margin-right: -1px; /* for border overlap */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .react-international-phone-input {
    height: calc($height - 2px);
    padding: 0 8px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: $text-color;
    font-family: inherit;
    font-size: $font-size;

    &:focus {
      outline: none;
    }

    &--disabled {
      background-color: $disabled-background-color;
      color: $disabled-text-color;
    }
  }
}
