@use '../../style/base';

.react-international-phone-input-container {
  display: flex;

  .react-international-phone-country-selector-button {
    border-radius: base.$border-radius;
    margin-right: -1px; /* for border overlap */
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .react-international-phone-input {
    overflow: visible;
    height: base.$height;
    box-sizing: border-box;
    padding: 0 8px;
    border: 1px solid base.$border-color;
    border-radius: base.$border-radius;
    margin: 0;
    background-color: base.$background-color;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: base.$text-color;
    font-family: inherit;
    font-size: base.$font-size;

    &:focus {
      outline: none;
    }

    &--disabled {
      background-color: base.$disabled-background-color;
      color: base.$disabled-text-color;
    }
  }
}
